:root{
    --darkred: rgb(255, 0, 0);
    --darkblue: rgb(0, 0, 80);;
    --darkgreen: rgb(0, 200, 0);
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: var(--darkblue);
    color: var(--darkgreen);
    margin: 1rem;
}

button {
    border-color: var(--darkgreen);
    background-color: var(--darkblue);
    color: var(--darkgreen);
    padding: 0.5rem;
}

footer {
    margin-top: 10rem;
}

footer p {
    color: var(--darkred);
}
footer a {
    color: yellow;
}
.game {
    width: 80%;
    margin: auto;
}
.spaceTable {
    border: 2px;
    border-style: dashed;
    border-color: greenyellow;
    margin: auto;
}

#spaceBody tr td {
    height: 1rem;
    font-family: monospace;
    text-align: center;
}
.displaysContainer {
    display: flex;
    margin: 1rem;
    font-weight: bold;
}
.gameButtons {
    margin: 1rem;
}
.gameButtons button {
    padding: 0.2rem;
    margin-right: 1rem;
}

.gameControls {
    text-align: end;
    margin: 1rem 3rem 1rem 0rem;
}
.gameControls button {
    padding: 1rem;
}
.gameControls #wbtn {
    margin: 0rem 2rem 1rem 0rem;
}
.gameControls #dbtn {
    margin: 0rem 0rem 0rem 1rem;
}
.label {
    margin-right: 5rem;
}

.borderCell {
    color: lightskyblue;
}

.fillerCell {
    color: blueviolet;
}

.enemyShip {
    color: coral;
}

.enemyBullet {
    color: lightpink;
}

.playerBullet {
    color: lightgreen;
}

.bothBullets {
    color: yellow;
}

#gameTitle{
    animation: blinker 1s linear infinite;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin: 1rem;
}


@keyframes blinker {
    50% {
      opacity: 0;
    }
  }


  .open-modal {
    font-weight: bold;
    background: steelblue;
    color: white;
    padding: .75rem 1.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
  }

  .modal { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: black;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }

  .modal-dialog {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    overflow: auto;
    background-color: var(--darkblue);
    cursor: default;
    z-index: 999;
  }

  .modal-dialog > * {
    padding: 1rem;
  }
   
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
   
  .modal p + p {
    margin-top: 1rem;
  }
  .modal-content {
    font-size: 1.8rem;
    text-align: center;
    
  }
   #modal-message{
    margin-bottom: 1.5rem;
   }
  .modal.is-visible {
    visibility: visible;
    opacity: 1;
  }
.highScores {
    text-align: center;
}
  .scoresTable {
    width: 50%;
    margin: auto;
    overflow-x: scroll;
  }

.scoresTable td,
.scoresTable th {
    border: 1px solid lightskyblue;
    padding: 8px;
}